/* logo */
.skin-blue .main-header .logo {
  background-color: #FFFFFF;
  color: #231f20;
  height: 70px;
  width: 350px;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #FFFFFF;
  color: #231f20;
  height: 70px;
  width: 350px;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  display: none
}      

/* title panel */
#title-panel { 
  font-size: 30px;
  font-weight: bold;
  font-family:  Arial, Helvetica, sans-serif;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #FFFFFF;
  color: #231f20;
  position: fixed;
  margin-top: 70px;
  width: 350px;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #FFFFFF;
  color: #231f20;
  border-left: #E8EDEE;
  font-weight: bold;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #FFFFFF;
  color: #231f20;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #FFFFFF;
  color: #231f20;
  border-left: #E8EDEE;
}

/* body */
.content-wrapper, .right-side {
  background-color: #FFFFFF;
  color: #231f20;
  margin-left: 350px;
}

